<div ng-if="alternatives">
  <div class="bold br-gutter-third">
    Where to find this book
  </div>

  <a href="{{alternatives.amazon.book.amazon.link}}" ng-if="alternatives.amazon">
    <div class="well well-sm position-relative">
      <div class="position-bottom-right br-gutter-third">
        <img src="/images/brands/amazon/logo.png" class="amazon-logo" />
      </div>

      <div class="row">
        <book-image
          book="alternatives.amazon.book"
          link="alternatives.amazon.book.amazon.link"
          class="col-ms-2 col-md-1 hidden-xs visible-ms"
          ng-if="alternatives.amazon.book.image">
        </book-image>

        <div ng-class="{'col-ms-10 col-md-11' : alternatives.amazon.book.image, 'col-ms-12' : !alternatives.amazon.book.image}">
          <div class="col-ms-12 bold">
            {{alternatives.amazon.book.title}}
          </div>

          <div class="col-ms-12">
            by
            <strong>
              {{alternatives.amazon.book.author}}
            </strong>
          </div>

          <div
            class="col-ms-8"
            ng-show="alternatives.amazon.book.amazon.price.new">

            New:
            {{alternatives.amazon.book.amazon.price.new}}
          </div>

          <div
            class="col-ms-8"
            ng-show="alternatives.amazon.book.amazon.price.used">

            Used:
            {{alternatives.amazon.book.amazon.price.used}}
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
