<h3 ng-hide="p.query">Books</h3>
<h3 ng-show="p.query">Search results</h3>

<div class="item-list" ng-show="books.length">
  <div class="item-list-header row hidden-xs">
    <div class="col-sm-4 col-md-5 col-lg-6">
      <sort-link
        label="Title"
        property="title"
        sort="p.sort"
        page="p.page"
        direction="p.direction">
      </sort-link>
    </div>
    <div class="col-sm-3 col-md-4 col-lg-3">
      <sort-link
        label="Author"
        property="author"
        sort="p.sort"
        page="p.page"
        direction="p.direction">
      </sort-link>
    </div>
    <div class="col-sm-3 col-md-2 hidden-xs">
      <sort-link
        label="ISBN"
        property="isbn10"
        sort="p.sort"
        page="p.page"
        direction="p.direction">
      </sort-link>
    </div>
    <div class="col-sm-2 col-md-1">
      <sort-link
        label="Price"
        property="price"
        sort="p.sort"
        page="p.page"
        direction="p.direction">
      </sort-link>
    </div>
  </div>

  <div class="item-list-item row" ng-repeat="book in books">
    <a ui-sref="book.show({id: book.id})">
      <div class="col-xs-12 col-sm-4 col-md-5 col-lg-6 overflow-ellipsis xs-bold ms-bold">
        {{book.title}}
      </div>
      <div class="col-xs-9 col-sm-3 col-md-4 col-lg-3 overflow-ellipsis">
        {{book.author}}
      </div>
      <div class="hidden-xs col-sm-3 col-md-2 overflow-ellipsis">
        {{book.isbn10 || 'Not available'}}
      </div>
      <div class="col-xs-3 col-sm-2 col-md-1 overflow-ellipsis xs-text-right ms-text-right">
        {{book.price | currency}}
      </div>
    </a>
  </div>
</div>

<pagination
  results="books"
  results-total-count="booksTotalCount"
  page="p.page">
</pagination>

<div ng-show="booksTotalCount == 0" class="br-gutter">
  <div ng-show="p.query">
    We do not have that book at this time.
  </div>

  <div ng-show="!p.query && isUser">
    You currently have no books listed.
    <a ui-sref="book.new" class="bold underline">Add a book</a>
    to begin.
  </div>

  <div ng-show="!p.query && !isUser">
    This user currently has no books listed.
  </div>
</div>
