<div class="col-xs-12 col-ms-5 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2 text-right br-gutter" ng-show="book">
  <book-image book="book"></book-image>
</div>

<div class="col-ms-7 col-md-6 col-lg-4" ng-show="book">
  <div class="book-attributes">
    <div>
      <strong>
        Title:
      </strong>

      {{book.title}}
    </div>
    <div>
      <strong>
        Author:
      </strong>

      {{book.author}}
    </div>
    <div ng-show="book.isbn10">
      <strong>
        ISBN:
      </strong>

      {{book.isbn10}}
    </div>
    <div ng-show="book.isbn13">
      <strong>
        ISBN13:
      </strong>

      {{book.isbn13}}
    </div>
    <div ng-show="book.upc">
      <strong>
        UPC:
      </strong>

      {{book.upc}}
    </div>
    <div>
      <strong>
        Price:
      </strong>

      {{book.price | currency}}
    </div>
    <div>
      <strong>
        User:
      </strong>

      <a ui-sref="user.show({username: book.username})">
        {{book.username}}
      </a>
    </div>
  </div>
</div>
