<div class="alert alert-warning" ng-show="!username">
  You're welcome to try adding a book.
  Please note that you must
  <a ui-sref="user.login">log in</a>
  or
  <a ui-sref="user.new">sign up</a>
  before saving it.
</div>

<form class="form-horizontal" autocomplete="off">
  <div class="form-group">
    <label for="isbn10" class="control-label col-sm-4">
      ISBN
    </label>
    <div class="col-sm-5">
      <div class="input-group">
        <input type="text" class="form-control" id="isbn10" ng-model="book.isbn10" />
        <span class="input-group-addon">
          <div search-by-image target="book.isbn10"></div>
        </span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="title" class="control-label col-sm-4">
      Title
    </label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="title" ng-model="book.title" />
    </div>
  </div>
  <div class="form-group">
    <label for="author" class="control-label col-sm-4">
      Author
    </label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="author" ng-model="book.author" />
    </div>
  </div>
  <div class="form-group">
    <label for="price" class="control-label col-sm-4">
      Price
    </label>
    <div class="col-sm-2">
      <div class="input-group">
        <div class="input-group-addon">$</div>
        <input type="text" class="form-control" id="price" ng-model="book.price" focus-if-event="barcodeLookupSuccess" />
      </div>
    </div>
  </div>
  <div class="form-group" ng-show="book.amazon.price.new || book.amazon.price.used">
    <label class="control-label col-sm-4">
      Online Prices
    </label>
    <label class="control-text col-sm-5">
      <a href="{{book.amazon.link}}" target="_blank">
        <i class="fa fa-amazon amazon-color"></i>&nbsp;
        
        <span ng-show="book.amazon.price.new">
          <strong>
            New:
          </strong>
          {{book.amazon.price.new}}
          &nbsp;
        </span>

        <span ng-show="book.amazon.price.used">
          <strong>
            Used:
          </strong>
          {{book.amazon.price.used}}
        </span>
      </a>
    </label>
  </div>

  <div class="row">
    <error
      errors="errors"
      class="col-sm-offset-4 col-sm-5">
    </error>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-5">
      <button
        type="submit"
        class="btn btn-primary"
        ng-click="create()"
        logged-in-only>
        Add book
      </button>
    </div>
  </div>

  <input type="hidden" id="isbn13" ng-model="book.isbn13" />
  <input type="hidden" id="upc" ng-model="book.upc" />
</form>
