<div ng-show="book">
  <div class="alert alert-success" ng-show="added">
    Your book has been added. Would you like to
    <a ui-sref="book.new">
      add another book?
    </a>
  </div>

  <div class="alert alert-success" ng-show="updated">
    Your book has been updated.
  </div>

  <div class="book">
    <div class="row">
      <book-preview book="book"></book-preview>

      <div class="col-xs-12 col-ms-7 col-md-6 form-group clearfix pull-right">
        <a ui-sref="conversation.new({to: book.username, book: book.id})" class="btn btn-primary ms-pull-left" ng-hide="isOwner">
          Request this book
        </a>

        <div ng-show="isOwner">
          <a ui-sref="book.destroy({id: book.id})" class="btn btn-success xs-pull-left ms-pull-left">
            Remove
          </a>

          <a ui-sref="book.update({id: book.id})" class="btn btn-primary ms-pull-left">
            Edit
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<error errors="errors"></error>
