<div class="alert alert-success" ng-show="added">
  Your book has been added. Would you like to
  <a ui-sref="book.new">
    add another book?
  </a>
</div>

<div class="row">
  <div class="col-md-3 text-right">
    Title
  </div>
  <div class="col-md-9">
    {{book.title}}
  </div>
  <div class="col-md-3 text-right">
    Author
  </div>
  <div class="col-md-9">
    {{book.author}}
  </div>
  <div class="col-md-3 text-right">
    ISBN
  </div>
  <div class="col-md-9">
    {{book.isbn}}
  </div>
  <div class="col-md-3 text-right">
    Price
  </div>
  <div class="col-md-9">
    {{book.price | currency}}
  </div>
  <div class="col-md-3 text-right">
    User
  </div>
  <div class="col-md-9">
    <a ui-sref="user.show({id: book.user_id})">
      {{book.user_id}}
    </a>
  </div>
</div>
