<error errors="errors"></error>

<form class="form-horizontal" autocomplete="off">
  <div class="form-group">
    <label for="title" class="control-label col-md-4">
      Title
    </label>
    <div class="col-md-4">
      <input type="text" class="form-control" id="title" ng-model="book.title" />
    </div>
  </div>
  <div class="form-group">
    <label for="author" class="control-label col-md-4">
      Author
    </label>
    <div class="col-md-4">
      <input type="text" class="form-control" id="author" ng-model="book.author" />
    </div>
  </div>
  <div class="form-group">
    <label for="isbn10" class="control-label col-md-4">
      ISBN
    </label>
    <div class="col-md-4">
      <input type="text" class="form-control" id="isbn10" ng-model="book.isbn10" />
    </div>
  </div>
  <div class="form-group">
    <label for="isbn13" class="control-label col-md-4">
      ISBN13
    </label>
    <div class="col-md-4">
      <input type="text" class="form-control" id="isbn13" ng-model="book.isbn13" />
    </div>
  </div>
  <div class="form-group">
    <label for="upc" class="control-label col-md-4">
      UPC
    </label>
    <div class="col-md-4">
      <input type="text" class="form-control" id="upc" ng-model="book.upc" />
    </div>
  </div>
  <div class="form-group">
    <label for="price" class="control-label col-md-4">
      Price
    </label>
    <div class="col-md-2">
      <div class="input-group">
        <div class="input-group-addon">$</div>
        <input type="text" class="form-control" id="price" ng-model="book.price" />
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-4 col-md-4">
      <button type="submit" class="btn btn-primary" ng-click="update()">
        Update
      </button>
    </div>
  </div>
</form>
