<header ng-controller="LayoutHeaderController">
  <div class="row">
    <div class="col-xs-12 col-ms-5 col-md-6 md-text-left">
      <div ng-include="'views/layout/logo.html'"></div>
    </div>

    <div class="header-search pull-right col-xs-12 col-ms-7 col-md-5">
      <form ng-submit="search()">
        <div class="input-group">
          <input ng-model="searchQuery" ng-focus="search()" class="form-control" placeholder="Search" />
          <span class="input-group-addon">
            <div search-by-image target="searchQuery"></div>
          </span>
        </div>
      </form>
    </div>

    <div class="header-buttons col-xs-12 col-md-6 clearfix">
      <a ui-sref="user.login" class="btn btn-primary" ng-hide="username">
        Log in
      </a>

      <div class="btn-group" ng-show="username">
        <a
          ui-sref="user.show({username: username})"
          class="btn btn-primary">

          {{username}}
        </a>

        <a
          href=""
          class="btn btn-primary dropdown-toggle"
          data-toggle="dropdown">

          <message-notification-icon></message-notification-icon>
          <span class="caret"></span>
        </a>

        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <a ui-sref="user.messages">
              Messages
            </a>
          </li>
          <li>
            <a ui-sref="user.logout">
              Log out
            </a>
          </li>
        </ul>
      </div>

      <a ui-sref="book.new" class="btn btn-primary">
        Add a book
      </a>

      <a ui-sref="user.new" class="btn btn-success xs-pull-left ms-pull-left md-pull-right" ng-hide="username">
        Sign up
      </a>
    </div>
  </div>
</header>
