<header ng-controller="LayoutHeaderController">
  <a ui-sref="home" class="logo pull-left">
    <img src="/images/logo.png" />
  </a>

  <div class="header-search pull-left">
    <form ng-submit="search()">
      <div class="input-group">
        <input ng-model="searchQuery" ng-focus="search()" class="form-control" placeholder="Search" />
        <span class="input-group-addon">
          <div search-by-image target="searchQuery"></div>
        </span>
      </div>
    </form>
  </div>

  <div class="header-buttons pull-right">

    <span ng-hide="username">
      <a ui-sref="user.login" class="btn btn-primary">
        Log in
      </a>
      <a ui-sref="user.new" class="btn btn-success">
        Sign up
      </a>
    </span>
    <span ng-show="username">
      <a ui-sref="book.new" class="btn btn-primary">
        Add a book
      </a>
      <a ui-sref="user.show({username: username})" class="btn btn-primary">
        <i class="fa fa-rocket"></i>&nbsp;
        <strong>
          {{username}}
        </strong>
      </a>
      <a ui-sref="user.logout" class="btn btn-success">
        Log out
      </a>
    </span>
  </div>
</header>
