<header ng-controller="LayoutHeaderController">
  <div class="row">
    <div class="col-xs-12 col-ms-5">
      <div ng-include="'views/layout/logo.html'"></div>
    </div>

    <div class="header-search col-xs-12 col-ms-7">
      <form ng-submit="search()">
        <div class="input-group">
          <input ng-model="searchQuery" ng-focus="search()" class="form-control" placeholder="Search" />
          <span class="input-group-addon">
            <div search-by-image target="searchQuery"></div>
          </span>
        </div>
      </form>
    </div>

    <div class="header-buttons col-xs-12 clearfix">
      <span ng-hide="username">
        <a ui-sref="user.new" class="btn btn-success pull-left">
          Sign up
        </a>
        <a ui-sref="user.login" class="btn btn-primary">
          <i class="fa fa-rocket"></i>&nbsp;
          Log in
        </a>
      </span>
      <span ng-show="username">
        <a ui-sref="user.logout" class="btn btn-success pull-left">
          Log out
        </a>
        <a ui-sref="user.show({username: username})" class="btn btn-primary">
          <i class="fa fa-rocket"></i>&nbsp;
          <!-- <strong> -->
            {{username}}
          <!-- </strong> -->
        </a>
      </span>

      <a ui-sref="book.new" class="btn btn-primary">
        Add a book
      </a>
    </div>
  </div>
</header>
