<div class="search-by-image">
  <a href="" class="search-by-image-link" title="Lookup using barcode scan">
    <i class="search-by-image-icon fa fa-camera-retro fa-lg"></i>
  </a>

  <label for="search-by-image-file-upload-{{$id}}" class="search-by-image-link" title="Lookup using barcode scan">
    <i class="search-by-image-icon fa fa-camera-retro fa-lg"></i>
  </label>
  <input type="file" id="search-by-image-file-upload-{{$id}}" accept="image/*;capture=camera" />

  <div class="search-by-image-preview"></div>
  <div class="search-by-image-preview-distance-guide">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
