<ul class="infographic-3-step">
  <li>
    <span>
      1
    </span>

    <img
      src="/images/infographic/how_it_works_3_step/step_1.png"
      class="img-responsive" />

    <div>
      Scan your books
    </div>
  </li>
  <li>
    <span>
      2
    </span>

    <img
      src="/images/infographic/how_it_works_3_step/step_2.png"
      class="img-responsive" />

    <div>
      Reply to inquiries
    </div>
  </li>
  <li>
    <span>
      3
    </span>

    <img
      src="/images/infographic/how_it_works_3_step/step_3.png"
      class="img-responsive" />

    <div>
      Meet up locally
      <br />
      or mail your book
    </div>
  </li>
</ul>
<br />
