<div class="alert alert-success" ng-show="passwordReset">
  Please check your email for a password reset link.
</div>

<form class="form-horizontal" ng-hide="passwordReset" autocomplete="off">
  <div class="form-group">
    <label for="usernameEmail" class="control-label col-sm-4">
      Username or Email
    </label>
    <div class="col-sm-5">
      <input
        type="text"
        id="usernameEmail"
        class="form-control"
        ng-model="usernameEmail"
      />
    </div>
  </div>

  <div class="row">
    <error
      errors="errors"
      class="col-sm-offset-4 col-sm-5">
    </error>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-5">
      <button type="submit" class="btn btn-primary" ng-click="resetPassword()">
        Reset password
      </button>
    </div>
  </div>
</form>
