<div class="alert alert-success" ng-show="updated">
  Your account has been updated.
</div>

<div ng-show="user">
  <div class="br-gutter clearfix">
    <h3>
      {{user.username}}
    </h3>

    <div ng-show="!isUser">
      <a ui-sref="conversation.new({to: user.username})" class="btn btn-primary pull-left">
        Send a message
      </a>
    </div>

    <div ng-show="isUser">
      <a ui-sref="user.update({username: user.username})" class="btn btn-primary pull-left">
        Edit
      </a>
    </div>
  </div>

  <book-list></book-list>
</div>

<error errors="errors"></error>
