<error errors="errors"></error>

<div class="alert alert-success" ng-show="updated">
  Your account has been updated.
</div>

<div ng-show="user">
  <h3>
    {{user.username}}
  </h3>

  <div ng-show="isUser">
    <div>
      <a ui-sref="user.update({username: user.username})" class="btn btn-primary">
        Edit
      </a>
      <a ui-sref="user.deactivate({username: user.username})" class="btn btn-success">
        Deactivate
      </a>
    </div>
    <br />

    <conversation-list></conversation-list>
  </div>

  <div ng-show="!isUser">
    <a ui-sref="conversation.new({to: user.username})" class="btn btn-primary">
      Send a message
    </a>
  </div>
  <br />
  
  <book-list></book-list>
</div>
