.book-image {
  margin-bottom: 15px;
}

/* used if book has no cover photo */
.book-icon {
  color: $brand-success;
  font-size: 200px;
}

.book-attributes {
  > div {
    padding-bottom: 10px;
  }
}

.book-preview {
  margin-bottom: $grid-gutter-width;

  .book-attributes {
    > div {
      padding-bottom: 3px;

      &:last-of-type {
        padding-bottom: 0;
      }
    }
  }
}
