label {
  cursor: pointer;
}

/* align all buttons to the right as most people are right-handed */
.btn {
  float: right;
  margin-left: 4px;

  &.pull-left {
    margin-left: 0;
  }
}

textarea {
  margin-top: 7px;
}

.form-group-information {
  label {
    cursor: default;
  }

  > div {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

.error {
  &:before {
    @extend .fa;
    position: absolute;
    content: '\f00d';
    font-family: FontAwesome;
    font-size: 15px;
    margin-top: 2px;
  }

  > span {
    margin-left: 18px;
  }
}

.form-horizontal,
.form {
  .control-text {
    @extend .control-label;
    font-weight: normal;
    text-align: left;
  }
}
