header {
  padding: 40px 0 10px;
  @include clearfix();

  .logo {
    margin-right: 40px;
    vertical-align: top;

    &:hover {
      text-decoration: none;
    }
  }

  .header-search,
  .header-buttons {
    margin-top: 20px;
  }

  form {
    width: 300px;
  }

  [search-by-image] {
    float: right;
    vertical-align: middle;
    display: inline-block;
  }
}
