header {
  padding: 12px 0 $grid-gutter-width 0;
  @include clearfix;

  .logo {
    @include breakpoint(xs) {
      margin-bottom: $grid-gutter-width;
      width: 100%;
    }
    @include breakpoint(ms) {
      height: 36px;
    }
  }

  .header-buttons {
    margin-top: $grid-gutter-width;
  }

  [search-by-image] {
    float: right;
    vertical-align: middle;
    display: inline-block;
  }
}
