.item-list {
  margin-bottom: $grid-gutter-width;

  .item-list-header {
    padding-bottom: 2px;
    font-weight: bold;
  }

  .item-list-item {
    padding: 6px 0;

    &:nth-child(odd) {
      background-color: #d3d9c9;
    }
  }
}
