.messages {
  .message {
    margin-bottom: 20px;  

    &:last-of-type {
      margin-bottom: 0;
    }

    &.sender {
      text-align: right;

      .well {
        float: right;
      }
    }

    .well {
      display: inline-block;
      max-width: 47%;
      margin-bottom: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .info {
      clear: both;
      font-size: 10px;
      padding: 0 3px;
    }
  }
}

.messages-update-form {
  margin-top: 40px;
}
