/* https://medium.com/developing-with-sass/creating-a-dead-simple-sass-mixin-to-handle-responsive-breakpoints-889927b37740#.7vwxyt5xb */
@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: $screen-ms - 1) { @content; }
  }

  @else if $class == ms {
    @media (min-width: $screen-ms) { @content; }
  }

  @else if $class == sm {
    @media (min-width: $screen-sm) { @content; }
  }

  @else if $class == md {
    @media (min-width: $screen-md) { @content; }
  }

  @else if $class == lg {
    @media (min-width: $screen-lg) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

.xs-bold {
  @include breakpoint(xs) {
    font-weight: bold;
  }
  @include breakpoint(ms) {
    font-weight: normal;
  }
}

.ms-bold {
  @include breakpoint(ms) {
    font-weight: bold;
  }
  @include breakpoint(sm) {
    font-weight: normal;
  }
}

.xs-pull-left {
  @include breakpoint(xs) {
    float: left;
    margin-left: 0;
    margin-right: 4px;
  }
}

.ms-pull-left {
  @include breakpoint(ms) {
    float: left;
    margin-left: 0;
    margin-right: 4px;
  }
}

.xs-text-right {
  @include breakpoint(xs) {
    text-align: right;
  }
  @include breakpoint(ms) {
    text-align: left;
  }
}

.ms-text-right {
  @include breakpoint(ms) {
    text-align: right;
  }
  @include breakpoint(sm) {
    text-align: left;
  }
}

.img-responsive {
  max-width: auto;
  width: 100%;
}

.visible-ms {
  @include breakpoint(ms) {
    display: inline-block !important;
  }
}
