.xs-bold {
  @include breakpoint(xs) {
    font-weight: bold;
  }
  @include breakpoint(ms) {
    font-weight: normal;
  }
}

.ms-bold {
  @include breakpoint(ms) {
    font-weight: bold;
  }
  @include breakpoint(sm) {
    font-weight: normal;
  }
}

.xs-pull-left {
  @include breakpoint(xs) {
    float: left;

    &.btn {
      margin-left: 0;
      margin-right: 4px;
    }
  }
}

.ms-pull-left {
  @include breakpoint(ms) {
    float: left;

    &.btn {
      margin-left: 0;
      margin-right: 4px;
    }
  }
}

.md-pull-right {
  @include breakpoint(md) {
    float: right;

    &.btn {
      margin-left: 4px;
      margin-right: 0;
    }
  }
}

.xs-text-right {
  @include breakpoint(xs) {
    text-align: right;
  }
  @include breakpoint(ms) {
    text-align: left;
  }
}

.ms-text-right {
  @include breakpoint(ms) {
    text-align: right;
  }
  @include breakpoint(sm) {
    text-align: left;
  }
}

.md-text-left {
  @include breakpoint(md) {
    text-align: left;
  }
}

.img-responsive {
  max-width: auto;
  width: 100%;
}

.visible-ms {
  @include breakpoint(ms) {
    display: inline-block !important;
  }
}

.xs-logged-in-pull-left {
  .logged-in & {
    @include breakpoint(xs) {
      float: left;
    }
  }
}

.ms-logged-in-pull-left {
  .logged-in & {
    @include breakpoint(ms) {
      float: left;
    }
  }
}

.md-logged-in-pull-right {
  .logged-in & {
    @include breakpoint(md) {
      float: right;
    }
  }
}
