.search-by-image {
  position: relative;

  .search-by-image-preview {
    position: relative;
    height: 0;

    video,
    canvas {
      height: 200px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 10;
      border-radius: 18px;
    }
  }

  .search-by-image-preview-distance-guide {
    display: none;
    position: absolute;
    z-index: 11;
    right: 0;

    div {
      $radius-size: 18px;
      $vertical-shrink: 30%;
      $horizontal-shrink: 25%;

      position: absolute;
      height: $radius-size;
      width: $radius-size;
      border: 3px solid red;


      &:nth-child(1) {
        top: $vertical-shrink;
        left: $horizontal-shrink;
        border-right: 0;
        border-bottom: 0;
        border-top-left-radius: $radius-size;
      }

      &:nth-child(2) {
        top: $vertical-shrink;
        right: $horizontal-shrink;
        border-bottom: 0;
        border-left: 0;
        border-top-right-radius: $radius-size;
      }

      &:nth-child(3) {
        bottom: $vertical-shrink;
        right: $horizontal-shrink;
        border-left: 0;
        border-top: 0;
        border-bottom-right-radius: $radius-size;
      }

      &:nth-child(4) {
        bottom: $vertical-shrink;
        left: $horizontal-shrink;
        border-right: 0;
        border-top: 0;
        border-bottom-left-radius: $radius-size;
      }
    }
  }

  /* http://tympanus.net/codrops/2015/09/15/styling-customizing-file-inputs-smart-way/ */
  input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
}

/* link is for streaming barcode scan */
a.search-by-image-link {
  .get-user-media-not-supported & {
    display: none;
  }
}

/* label is for file-upload barcode scan */
label.search-by-image-link {
  color: $link-color;
  margin-bottom: 0;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  .get-user-media-supported & {
    display: none;
  }
}
