.search-by-image {
  .search-by-image-preview {
    position: relative;
    height: 0;

    video,
    canvas {
      height: 200px;
      position: absolute;
      right: -2px;
      top: 4px;
      z-index: 10;
    }
  }
}
