$font-size-base: 16px;
$brand-primary: #598392 !default;
$brand-success: #aec3b0 !default;
$brand-fill: #eff6e0 !default;
$input-border-focus: #598392 !default;
$pagination-disabled-color: #bbb !default;
$grid-gutter-width: 15px !default;
$screen-ms: 480px;
