@import "variables";
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "font-awesome/scss/font-awesome.scss";
// endbower

@import "header";
@import "search_by_image";
@import "book_list";

body {
  background-color: #eff6e0;
  padding-bottom: 20px;
}

main {
  padding: 40px 30px;
  background-color: #d8dece;
  border-radius: 10px;
}

.alert {
  padding: 10px 15px;
  font-weight: bold;
}

label {
  cursor: pointer;
}

.capitalize {
  display: inline-block;

  &::first-letter {
    text-transform: uppercase;
  }
}

* h3 {
  margin-top: 0;
}

a:not(.btn) {
  text-decoration: underline;
}
