@import "variables";
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import 'bootstrap-sass-official/assets/stylesheets/_bootstrap.scss';
@import "font-awesome/scss/font-awesome.scss";
// endbower

@import "form";
@import "responsive";
@import "header";
@import "footer";
@import "animation";
@import "pagination";
@import "grid";

@import "error";
@import "search_by_image";
@import "item_list";
@import "message";
@import "book";

body {
  background-color: #eff6e0;
  padding-bottom: $grid-gutter-width;
  padding-bottom: 7px;
}

main {
  @include clearfix;
  padding: $grid-gutter-width;
  padding-bottom: 0;
  background-color: #d8dece;
  border-radius: 5px;
}

.alert {
  padding: 10px 15px;
  margin-bottom: $grid-gutter-width;
  font-weight: bold;

  a {
    text-decoration: underline;
  }
}

.capitalize {
  display: inline-block;

  &::first-letter {
    text-transform: uppercase;
  }
}

.bold {
  font-weight: bold;
}

h3 {
  margin-top: 0;
}

.overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.br-15px {
  margin-bottom: $grid-gutter-width;
}

.invisible {
  visibility: hidden;
}
