$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  background-color: #eff6e0;
}

header {
  padding-top: 40px;
  @include clearfix();
}

main {
  padding: 20px;
  background-color: #d8dece;
  border-radius: 10px;
}